/*
 global styles
*/
body {
  --color-black: #000;
  --color-gray-100: #222;
  --color-gray-200: rgb(64, 64, 64);

  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-normal: 400;
  --font-weight-light: 300;
}

h1 {
  margin-bottom: 2rem;
}


/*
Utility selectors
*/
  *[data-hidden] {
    display: none;
  }

  *[data-invisible] {
    visibility: hidden;
  }
